@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts SuccessIcon="fa fa-thumbs-up" Timeout="1" ErrorIcon="fa fa-bug" IconType="IconType.FontAwesome" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <TopMenu />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
