@page "/build"
@inject BlazorBattles.Client.Services.IBananaService BananaService
@inject BlazorBattles.Client.Services.IUnitService UnitService
@inject IToastService ToastService

<h3>Build</h3>

<div class="form-group">
    <select @bind="selectedUnitId" class="form-control">
        @foreach(var unit in UnitService.Units)
            {
                <option value="@unit.Id">@unit.Title // @unit.BananaCost Bananas</option>
            }
    </select>
</div>

<button @onclick="BuildUnit">Build</button>

@code {
    int selectedUnitId = 1;
    bool needMoreBananas = false;

    public void BuildUnit()
    {
        BlazorBattles.Shared.Unit selectedUnit = UnitService.Units.FirstOrDefault(u => u.Id == selectedUnitId);

        if(BananaService.Bananas < selectedUnit.BananaCost)
        {
            needMoreBananas = true;
            ToastService.ShowError("Not enough bananas!", ":(");
            return;
        }

        needMoreBananas = false;

        BananaService.EatBananas(selectedUnit.BananaCost);
        UnitService.AddUnit(selectedUnitId);
    }

    public void EatBananas(int amount)
    {
        //Console.WriteLine($"{amount} bananas eaten");
        BananaService.EatBananas(amount);
    }
}
